.disabled-onepage-scroll{
  section {
    overflow: visible;
    height: auto;
  }
  .title {
    width: 90%;
    padding: 0;
    height: 60px;
    margin: 0 5%;
      .line {
      width:35%;
      max-width: 300px;
      height: 5px;
      margin: 42px 0 0 0;
      float: left;
    }
      .black {
      background-image: url(../images/public/line_black.png);
    }
      .white {
        background-image: url(../images/public/line_white.png);
      }
  }
  .service, .project, .team, .contact{
    h1{
      width: 30%;
      margin-top: 24px;
      padding: 0;
      float: left;
      font-weight: 300;
      font-size: 28px;
      text-align: center;
    }
    h2{
      font-size: 30px;
      margin: 20px auto 30px;
      text-align: center;
      line-height: 120%;
      font-weight: 100;
      font-style: italic;
    }
      .page_container {
      margin: 0 auto;
      max-width: 960px;
    }
  }
  .hero {
    padding-top: 0;
    height: auto;
    .connect{
      padding: 0;
      margin: 0;
      width: 100%;
      height: 420px;
      background-image: url(../images/hero/robot.png);
      background-color: rgba(25, 25, 25, 1);
      background-size: cover;
    }
    .page_container {
      padding-top: 30%;
      width: 100%;
    }
    h1 {
      color: white;
      display: block;
      text-align: center;
      width: auto;
      height: auto;
      margin: 0 auto;
      font-size: 3em;
      font-weight: 300;
      background-color: rgba(255, 201, 11, 0.8);
      position: relative;
      &:before{
      height: 64px;
      background-color: rgba(255, 201, 11, 0.8);
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 9999px; 
      }
    }
    h2 {
      color: white;
      display: block;
      margin: 20px auto;
      width: auto;
      height: auto;
      padding: 2px;
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      background-color: rgba(11, 21, 11, 0.8);
      position: relative;
      &:after{
      display: none;
      }
    }
  }
  .service {
    height:auto;
    padding-bottom: 40px;
    background-color: rgba(250, 250, 250, 1);
    .page_container {
      h3{
        float: left;
        // width: 100%;
        height: auto;
        padding: 0 0 0 22px;
        margin: 0;
        font-size: 24px;
        text-align: left;
        }

      .solution{
        float: none;
        height: 180px;
        width: 100%;
        max-width: 420px;
        margin: 40px auto 20px auto;
        padding: 10px ;
        &:hover{
          background-color: rgba(255, 201, 11, 0.6);
          -webkit-transition: all .45s ease;
             -moz-transition: all .45s ease;
              -ms-transition: all .45s ease;
               -o-transition: all .45s ease;
                  transition: all .45s ease;
        }
        .app{
          background-image: url(../images/service/mobile.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 160px;
          width: 140px;
          margin: 0 auto;
          float: left;
          &:hover{
            background-position: center;
            -webkit-transition: all .95s ease;
               -moz-transition: all .95s ease;
                -ms-transition: all .95s ease;
                 -o-transition: all .95s ease;
                    transition: all .95s ease;
          }
        }
        .dev{
          background-image: url(../images/service/dev.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height: 160px;
          width: 140px;
          float: left;
          &:hover{
            background-image: url(../images/service/dev_light.png);
          }
        }
        .web{
          background-image: url(../images/service/web.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position:  center ;
          height: 160px;
          width: 140px;
          float: left;
          &:hover{
          background-image: url(../images/service/responsive.png);
          background-position: bottom;
          background-size: contain;
          -webkit-transition: all .25s ease-in-out;
             -moz-transition: all .25s ease-in-out;
              -ms-transition: all .25s ease-in-out;
               -o-transition: all .25s ease-in-out;
                  transition: all .25s ease-in-out;
          }
        }
        ul li{
          font-weight: 300;
          line-height: 1.8;
          text-align: left;
          list-style-type:none;
          font-size: 18px;
        }
        ul{
          float: left;
          padding-left: 12px;
        }
      }
    }
  }
  .team{
    display: none;
  }
  .project{
    display: none;
  }
  .contact{
    clear: both;
    background-color: rgba(225,225,220,0.5);
  }
  .contact {
      clear:both;
      height: 720px;
    .page_container {
      clear:both;

      .contact_input{
        display: none;
      }
    }
  }
  .back{
    display: none;
  }
}

.wrapper {
  height: 100% !important;
  /*查*/
  height: 100%;
  margin: 0 auto; 
  position: relative;
}







        // background-image: url(../images/grid.png);
// If open the page on mobile device, disable page scroll.
// body.disabled-onepage-scroll .onepage-wrapper  section {
//   // min-height: 100%;
//   // height: auto;
// }

body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
  // padding: 10px;
  // margin-top: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// body.disabled-onepage-scroll  section .page_container h1{
//   text-align: center;
//   // font-size: 50px;
// }
// body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
//   text-align: center;
//   width: 100%;
// }

// body.disabled-onepage-scroll .main section.hero > img {
//   position: absolute;
//   width: 80%;
//   left: 10%;
// }

// body.disabled-onepage-scroll .main section > img {
//   position: relative;
//   max-width: 80%;
//   bottom: 0;
// }


// body.disabled-onepage-scroll .main section.page3 .page_container {
//   width: 90%;
//   margin-left: auto;
//   margin-right: auto;
//   right: 0;
// }