html {
  height: 100%;
  // min-width: 960px;
}

body {
  padding: 0;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;

}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
  position: relative;
}

.title {
  width:780px;
  height: 60px;
  margin: 0 auto;
    .line {
    width:300px;
    height: 5px;
    margin: 42px 0 0 0;
    float: left;
  }
    .black {
    background-image: url(../images/public/line_black.png);
  }
    .white {
      background-image: url(../images/public/line_white.png);
    }
}

a {
  text-decoration: none;
}

h1, h2{
  margin: 0;
  bottom: 0;
  display: block;
}
h1, h3, ul, li, a, input, textarea{
  // font-family: 'Voces', cursive;
  font-family: 'Contrail One', cursive;
  // font-family: 'Gentium Basic', serif;
  // font-family: 'Lusitana', serif;
  // font-family: 'Changa One', cursive;
  // font-family: 'Fjalla One', sans-serif;
}
h2, h4{
  font-family: 'Voces', cursive;
  // font-family: 'Contrail One', cursive;
  // font-family: 'Lusitana', serif;
  // font-family: 'Changa One', cursive;
  // font-family: 'Fjalla One', sans-serif;
}


.about, .service, .project, .team, .contact{
  h1{
    width: 180px;
    margin-top: 24px;
    padding: 0;
    float: left;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
  }
  h2{
    font-size: 28px;
    margin: 20px auto 30px auto;
    text-align: center;
    line-height: 120%;
    font-weight: 100;
    font-style: italic;
  }
    .page_container {
    margin: 0 auto;
    max-width: 960px;
  }
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
section {
  overflow: hidden;
}



.hero {
      background-color: rgba(250, 250, 250, 1);
    .connect{
      width: 102%;
      height: 90%;
      background-image: url(../images/hero/robot.png);
      background-color: rgba(250, 250, 250, 1);
      background-size: cover;
      span{
      background-image: url(../images/public/fontech_logo.png);
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
      position: absolute;
      top:0%;
      left:1%;
      width: 120px;
      height: 48px;
      display: block;}
    }
    .page_container {
      padding-top: 30%;
      width: auto;
    }
    h1 {
      color: white;
      display: block;
      width: 640px;
      height: 84px;
      margin: 0 auto;
      font-size: 70px;
      font-weight: 700;
      background-color: rgba(255, 201, 11, 0.8);
      position: relative;
      &:before{
      height: 84px;
      background-color: rgba(255, 201, 11, 0.8);
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 9999px; 
      }
    }
    h2 {
      color: white;
      display: block;
      margin: 10px auto;
      width: 780px;
      height: 50px;
      padding: 2px;
      text-align: center;
      font-size: 34px;
      font-weight: 300;
      background-color: rgba(11, 21, 11, 0.8);
      position: relative;
      &:after{
      height: 54px;
      background-color: rgba(11, 21, 11, 0.8);
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      width: 9999px; 
      }
    }
  }

.about {
background-image: url(../images/public/grid.png);
  background-color: rgba(250, 250, 250, 1);
  .page_container {
    h2{
      color: black;
      width: 100%;
      max-width: 680px;
      margin: 20px auto 0 auto;
    }
    h3{
      text-align: left;
      font-size: 32px;
      font-weight: 300;
    }
    .job{
      // float: left;
      height: 420px;
      width: 620px;
      // max-width: 300px;
      margin: 0 20px 0 10px;
      padding: 10px 0;
      }
    .client{
      float: left;
      height: 420px;
      width: 300px;
      // max-width: 300px;
      // margin: 0 10px;
      padding: 10px 0;
      }
  }
}

.service {
    background-color: rgba(250, 250, 250, 1);
    .page_container {
      h2{
        color: black;
        width: 100%;
        max-width: 680px;
      }
      h3{
        text-align: center;
        font-size: 32px;
        font-weight: 300;
      }
      .solution{
        float: left;
        height: 420px;
        width: 30%;
        max-width: 300px;
        margin: 0 10px;
        padding: 10px 0;
        &:hover{
          background-color: rgba(255, 201, 11, 0.6);
          -webkit-transition: all .45s ease;
             -moz-transition: all .45s ease;
              -ms-transition: all .45s ease;
               -o-transition: all .45s ease;
                  transition: all .45s ease;
        }
        .app{
          background-image: url(../images/service/mobile.png);
          background-repeat: no-repeat;
          background-position: 0px center;
          height: 160px;
          width: 80px;
          margin: 0 auto;
          &:hover{
            background-position: center;
            width: 300px;
            -webkit-transition: all .95s ease;
               -moz-transition: all .95s ease;
                -ms-transition: all .95s ease;
                 -o-transition: all .95s ease;
                    transition: all .95s ease;
          }
        }
        .dev{
          background-image: url(../images/service/dev.png);
          background-repeat: no-repeat;
          background-position: center;
          height: 160px;
          width: 100%;
          &:hover{
            background-image: url(../images/service/dev_light.png);
          }
        }
        .web{
          background-image: url(../images/service/web.png);
          background-repeat: no-repeat;
          background-position:  center ;
          height: 160px;
          width: 100%;
          &:hover{
          background-image: url(../images/service/responsive.png);
          background-position: bottom;
          background-size: contain;
          -webkit-transition: all .25s ease-in-out;
             -moz-transition: all .25s ease-in-out;
              -ms-transition: all .25s ease-in-out;
               -o-transition: all .25s ease-in-out;
                  transition: all .25s ease-in-out;
          }
        }
        ul li{
          font-weight: 300;
          line-height: 1.8;
          text-align: left;
          list-style-type:none;
          margin-left: 10px;
          font-size: 18px;
        }
      }
    }
  }
.project {
    background-color: rgba(17, 17, 17, 1);
    h1, h2{
      color: white;
    }
    h2{
      width: 100%;
      max-width: 580px;
    }
    .page_container {
      .work{
        height:220px;
        width: 30%;
        max-width: 300px;
        margin: 10px;
        float: left;
        overflow: hidden;
        position: relative;
        img{
          height: 220px;
          width: 100%;
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
        }
        .info{
          height: 220px;
          width: 300px;
          position: absolute;
          z-index: 2;
          bottom: 0;
          left: 0;
          opacity: 0;
          &:hover{
            display: block;
            opacity: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(240, 240, 240, 0.9);
            -webkit-transition: all .35s ease;
               -moz-transition: all .35s ease;
                -ms-transition: all .35s ease;
                 -o-transition: all .35s ease;
                    transition: all .35s ease;
          }
        }
      }
    }
  }
.team {
    // background-image: url(../images/public/grid.png);
    .page_container {
      h1, h2, h3, h4{
        color: black;
      }
      h3{
          margin: 10px auto;
          font-weight: 300;
          font-size: 24px;
          text-align: center;
      }
      h4{
          font-weight: 300;
          font-size: 14px;
          text-align: left;
          margin: 0;
          padding: 0;
      }
      .fontecher{
        // width: 30%;
        max-width: 280px;
        height: 256px;
        padding: 0 10px;
        margin: 10px;
        float: left;
        // background-color:red;
        .hello{
          height: 60px;
          width: 60px;
          margin-right: 10px;
          float: left;
          padding: 20px;
          background-image: url(../images/team/team.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: relative;
          &:hover{
            background-image: url(../images/team/team2.jpg);

          }
          #gmail{
            background-image: url(../images/team/gmail.png);
            display: none;
            position: absolute;
            bottom: -3px;
            left:-4px;
            &:hover{
              background-image: url(../images/team/gmail_go.png);

            }
          }
          #linkedin{
            background-image: url(../images/team/linkedin.png);
            display: none;
            position: absolute;
            bottom:-3px;
            right:-3px;
            &:hover{
              background-image: url(../images/team/linkedin_go.png);

            }
          }
          #dribble{
            background-image: url(../images/team/dribble.png);
            display: none;
            position: absolute;
            top:-3px;
            right:-3px;
            &:hover{
              background-image: url(../images/team/dribble_go.png);

            }
          }
          #github{
            background-image: url(../images/team/github.png);
            display: none;
            position: absolute;
            top:-4px;
            left:-4px;
            &:hover{
              background-image: url(../images/team/github_go.png);

            }
          }
          &:hover{
            > #gmail, #linkedin, #github, #dribble{
              display: block;
              height: 75px;
              width: 75px;
            }
          }
        }
      }
    }
  }
.contact {
    .page_container {
      .contact_input{
        width: 84%;
        max-width: 786px;
        height: 380px;
        margin: 0 auto 0 90px;
        input, textarea{
          padding: 4px 8px;
          margin: 0 0 16px 0;
          float: left;
          font-size: 24px;
          font-weight: 100;
        }
        a{
          font-size: 24px;
          padding: 6px 16px;
          display: block;
          width: 72px;
          text-align: center;
          margin: 30px auto 20px auto;
          background-color: #ffd10b;
          font-weight: 300;
          color: black;
          border: none;
          clear: both;
        }
      }
    }
    h2{
      color: black;
    }
    h3{
      font-size: 24px;
      text-align: center;
      width: 100%;
      margin: 0 auto 40px;
      font-weight: 300;
      clear: both;
    }
    h4{
      font-size: 16px;
      padding: 16px 0;
      margin: 0;
      text-align: center;
      width: 100%;
      font-weight: 300;
      position: absolute;
      bottom: 0;
      background-color: rgba(7, 7, 7, 0.1);
    }
    span{
      color: #ffd10b;
      position: relative;
      div{
        display: none;
      }
      &:hover{
        > div{
          height: 50px;
          width: 200px;
          background-color: white;
          border: 1px solid black;
          position: absolute;
          display: block;

        }
      }
    }
  }


// .disabled-onepage-scroll .project{
//   display: none;
// }

        // background-image: url(../images/grid.png);
// If open the page on mobile device, disable page scroll.
// body.disabled-onepage-scroll .onepage-wrapper  section {
//   min-height: 100%;
//   height: auto;
// }

// body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
//   // padding: 10px;
//   margin-top: 150px;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }

// body.disabled-onepage-scroll  section .page_container h1{
//   text-align: center;
//   // font-size: 50px;
// }
// body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
//   text-align: center;
//   width: 100%;
// }

// body.disabled-onepage-scroll .main section.hero > img {
//   position: absolute;
//   width: 80%;
//   left: 10%;
// }

// body.disabled-onepage-scroll .main section > img {
//   position: relative;
//   max-width: 80%;
//   bottom: 0;
// }


// body.disabled-onepage-scroll .main section.page3 .page_container {
//   width: 90%;
//   margin-left: auto;
//   margin-right: auto;
//   right: 0;
// }




