/* line 2, ../sass/disable_general.scss */
.disabled-onepage-scroll section {
  overflow: visible;
  height: auto;
}
/* line 6, ../sass/disable_general.scss */
.disabled-onepage-scroll .title {
  width: 90%;
  padding: 0;
  height: 60px;
  margin: 0 5%;
}
/* line 11, ../sass/disable_general.scss */
.disabled-onepage-scroll .title .line {
  width: 35%;
  max-width: 300px;
  height: 5px;
  margin: 42px 0 0 0;
  float: left;
}
/* line 18, ../sass/disable_general.scss */
.disabled-onepage-scroll .title .black {
  background-image: url(../images/line_black.png);
}
/* line 21, ../sass/disable_general.scss */
.disabled-onepage-scroll .title .white {
  background-image: url(../images/line_white.png);
}
/* line 26, ../sass/disable_general.scss */
.disabled-onepage-scroll .service h1, .disabled-onepage-scroll .project h1, .disabled-onepage-scroll .team h1, .disabled-onepage-scroll .contact h1 {
  width: 30%;
  margin-top: 24px;
  padding: 0;
  float: left;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
}
/* line 35, ../sass/disable_general.scss */
.disabled-onepage-scroll .service h2, .disabled-onepage-scroll .project h2, .disabled-onepage-scroll .team h2, .disabled-onepage-scroll .contact h2 {
  font-size: 30px;
  margin: 20px auto 30px;
  text-align: center;
  line-height: 120%;
  font-weight: 100;
  font-style: italic;
}
/* line 43, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container, .disabled-onepage-scroll .project .page_container, .disabled-onepage-scroll .team .page_container, .disabled-onepage-scroll .contact .page_container {
  margin: 0 auto;
  max-width: 960px;
}
/* line 48, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero {
  padding-top: 0;
  height: auto;
}
/* line 51, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero .connect {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 420px;
  background-image: url(../images/robot.png);
  background-color: #191919;
  background-size: cover;
}
/* line 60, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero .page_container {
  padding-top: 30%;
  width: 100%;
}
/* line 64, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero h1 {
  color: white;
  display: block;
  text-align: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  font-size: 3em;
  font-weight: 300;
  background-color: rgba(255, 201, 11, 0.8);
  position: relative;
}
/* line 75, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero h1:before {
  height: 64px;
  background-color: rgba(255, 201, 11, 0.8);
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 9999px;
}
/* line 85, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero h2 {
  color: white;
  display: block;
  margin: 20px auto;
  width: auto;
  height: auto;
  padding: 2px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  background-color: rgba(11, 21, 11, 0.8);
  position: relative;
}
/* line 97, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero h2:after {
  display: none;
}
/* line 102, ../sass/disable_general.scss */
.disabled-onepage-scroll .service {
  background-color: #fafafa;
}
/* line 105, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container h3 {
  float: left;
  height: auto;
  padding: 0 0 0 22px;
  margin: 0;
  font-size: 24px;
  text-align: left;
}
/* line 115, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution {
  float: none;
  height: 180px;
  width: 100%;
  max-width: 420px;
  margin: 40px auto 20px auto;
  padding: 10px;
}
/* line 122, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution:hover {
  background-color: rgba(255, 201, 11, 0.6);
  -webkit-transition: all .45s ease;
  -moz-transition: all .45s ease;
  -ms-transition: all .45s ease;
  -o-transition: all .45s ease;
  transition: all .45s ease;
}
/* line 130, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .app {
  background-image: url(../images/mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 160px;
  width: 140px;
  margin: 0 auto;
  float: left;
}
/* line 139, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .app:hover {
  background-position: center;
  -webkit-transition: all .95s ease;
  -moz-transition: all .95s ease;
  -ms-transition: all .95s ease;
  -o-transition: all .95s ease;
  transition: all .95s ease;
}
/* line 148, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .dev {
  background-image: url(../images/dev.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 160px;
  width: 140px;
  float: left;
}
/* line 156, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .dev:hover {
  background-image: url(../images/dev_light.png);
}
/* line 160, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .web {
  background-image: url(../images/web.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 160px;
  width: 140px;
  float: left;
}
/* line 168, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .web:hover {
  background-image: url(../images/responsive.png);
  background-position: bottom;
  background-size: contain;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
/* line 179, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution ul li {
  font-weight: 300;
  line-height: 1.8;
  text-align: left;
  list-style-type: none;
  font-size: 18px;
}
/* line 186, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution ul {
  float: left;
  padding-left: 12px;
}
/* line 193, ../sass/disable_general.scss */
.disabled-onepage-scroll .team {
  display: none;
}
/* line 196, ../sass/disable_general.scss */
.disabled-onepage-scroll .project {
  display: none;
}
/* line 199, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact {
  clear: both;
  background-color: rgba(225, 225, 220, 0.5);
}
/* line 203, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact {
  height: 720px;
}
/* line 206, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact .page_container .contact_input {
  display: none;
}
/* line 211, ../sass/disable_general.scss */
.disabled-onepage-scroll .back {
  display: none;
}

/* line 216, ../sass/disable_general.scss */
.wrapper {
  height: 100% !important;
  /*查*/
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* line 226, ../sass/disable_general.scss */
a {
  text-decoration: none;
}

/* line 230, ../sass/disable_general.scss */
h1, h2 {
  margin: 0;
  bottom: 0;
  display: block;
}

/* line 235, ../sass/disable_general.scss */
h1, h3, h4, a, input, textarea {
  font-family: 'lato', sans-serif;
}

/* line 238, ../sass/disable_general.scss */
h2 {
  font-family: 'Didot', sans-serif;
}

/* line 244, ../sass/disable_general.scss */
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* line 263, ../sass/disable_general.scss */
body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
