/* line 2, ../sass/disable_general.scss */
.disabled-onepage-scroll section {
  overflow: visible;
  height: auto;
}
/* line 6, ../sass/disable_general.scss */
.disabled-onepage-scroll .title {
  width: 97%;
  padding: 0;
  height: 60px;
  margin: 0 1.5%;
}
/* line 11, ../sass/disable_general.scss */
.disabled-onepage-scroll .title .line {
  width: 35%;
  max-width: 300px;
  height: 5px;
  margin: 36px 0 0 0;
  float: left;
}
/* line 18, ../sass/disable_general.scss */
.disabled-onepage-scroll .title .black {
  background-image: url(../images/public/line_black.png);
}
/* line 21, ../sass/disable_general.scss */
.disabled-onepage-scroll .title .white {
  background-image: url(../images/public/line_white.png);
}
/* line 26, ../sass/disable_general.scss */
.disabled-onepage-scroll .about h1, .disabled-onepage-scroll .service h1, .disabled-onepage-scroll .project h1, .disabled-onepage-scroll .team h1, .disabled-onepage-scroll .contact h1 {
  width: 30%;
  margin-top: 24px;
  padding: 0;
  float: left;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
/* line 35, ../sass/disable_general.scss */
.disabled-onepage-scroll .about h2, .disabled-onepage-scroll .service h2, .disabled-onepage-scroll .project h2, .disabled-onepage-scroll .team h2, .disabled-onepage-scroll .contact h2 {
  font-size: 24px;
  width: 97%;
  padding: 0 1.5%;
  margin: 20px auto 30px;
  text-align: center;
  line-height: 120%;
  font-weight: 100;
  font-style: italic;
}
/* line 45, ../sass/disable_general.scss */
.disabled-onepage-scroll .about .page_container, .disabled-onepage-scroll .service .page_container, .disabled-onepage-scroll .project .page_container, .disabled-onepage-scroll .team .page_container, .disabled-onepage-scroll .contact .page_container {
  margin: 0 auto;
  max-width: 960px;
}
/* line 50, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero {
  font-size: 36px;
  padding-top: 0;
  height: auto;
}
/* line 54, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero .connect {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 376px;
  background-image: url(../images/hero/robot.png);
  background-color: #191919;
  background-size: cover;
  background-position: center;
}
/* line 64, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero span {
  background-image: url(../images/public/fontech_logo.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  left: 1%;
  width: 120px;
  height: 48px;
  display: block;
}
/* line 76, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero .page_container {
  padding-top: 30%;
  width: 100%;
}
/* line 80, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero h1 {
  color: white;
  display: block;
  text-align: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 300;
  background-color: rgba(255, 201, 11, 0.8);
  position: relative;
}
/* line 91, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero h1:before {
  height: 64px;
  background-color: rgba(255, 201, 11, 0.8);
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 9999px;
}
/* line 101, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero h2 {
  color: white;
  display: block;
  margin: 20px auto;
  width: auto;
  height: auto;
  padding: 2px;
  font-size: 0.6em;
  font-weight: 300;
  text-align: center;
  background-color: rgba(11, 21, 11, 0.8);
  position: relative;
}
/* line 113, ../sass/disable_general.scss */
.disabled-onepage-scroll .hero h2:after {
  display: none;
}
/* line 118, ../sass/disable_general.scss */
.disabled-onepage-scroll .about {
  height: auto;
  background-color: #f0f0f0;
  padding-bottom: 60px;
}
/* line 123, ../sass/disable_general.scss */
.disabled-onepage-scroll .about .page_container h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
/* line 129, ../sass/disable_general.scss */
.disabled-onepage-scroll .about .page_container p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
}
/* line 135, ../sass/disable_general.scss */
.disabled-onepage-scroll .about .page_container .job {
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
/* line 141, ../sass/disable_general.scss */
.disabled-onepage-scroll .about .page_container .client {
  float: left;
  height: 420px;
  width: 300px;
  padding: 10px 0;
}
/* line 151, ../sass/disable_general.scss */
.disabled-onepage-scroll .service {
  height: auto;
  padding-bottom: 40px;
  background-color: #fafafa;
}
/* line 156, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container h3 {
  float: left;
  height: auto;
  padding: 0 0 0 22px;
  margin: 0;
  font-size: 24px;
  text-align: left;
}
/* line 166, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution {
  float: none;
  height: 160px;
  width: 95%;
  max-width: 420px;
  margin: 40px auto 20px auto;
  padding-left: 5%;
}
/* line 173, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution:hover {
  background-color: rgba(255, 201, 11, 0.6);
  -webkit-transition: all .45s ease;
  -moz-transition: all .45s ease;
  -ms-transition: all .45s ease;
  -o-transition: all .45s ease;
  transition: all .45s ease;
}
/* line 181, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .app {
  background-image: url(../images/service/mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 160px;
  width: 30%;
  margin: 0 auto;
  float: left;
}
/* line 190, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .app:hover {
  background-position: center;
  -webkit-transition: all .95s ease;
  -moz-transition: all .95s ease;
  -ms-transition: all .95s ease;
  -o-transition: all .95s ease;
  transition: all .95s ease;
}
/* line 199, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .dev {
  background-image: url(../images/service/dev.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 160px;
  width: 30%;
  float: left;
}
/* line 207, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .dev:hover {
  background-image: url(../images/service/dev_light.png);
}
/* line 211, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .web {
  background-image: url(../images/service/web.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 160px;
  width: 30%;
  float: left;
}
/* line 219, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution .web:hover {
  background-image: url(../images/service/responsive.png);
  background-position: bottom;
  background-size: contain;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
/* line 230, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution ul li {
  font-weight: 300;
  line-height: 1.8;
  text-align: left;
  list-style-type: none;
  font-size: 16px;
}
/* line 237, ../sass/disable_general.scss */
.disabled-onepage-scroll .service .page_container .solution ul {
  width: 60%;
  float: left;
  padding-left: 12px;
}
/* line 245, ../sass/disable_general.scss */
.disabled-onepage-scroll .team {
  display: none;
}
/* line 248, ../sass/disable_general.scss */
.disabled-onepage-scroll .project {
  display: none;
}
/* line 251, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact {
  clear: both;
  height: 320px;
  background-color: rgba(225, 225, 220, 0.5);
}
/* line 255, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact .page_container {
  clear: both;
}
/* line 257, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact .page_container .contact_input {
  display: none;
  width: 97%;
  margin: 0 1.5%;
  max-width: 786px;
  height: 380px;
  margin: 0 auto 0 90px;
}
/* line 264, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact .page_container .contact_input input, .disabled-onepage-scroll .contact .page_container .contact_input textarea {
  display: none;
}
/* line 267, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact .page_container .contact_input a {
  display: none;
}
/* line 282, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact h2 {
  color: #545454;
}
/* line 285, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact h3 {
  font-size: 18px;
  text-align: center;
  width: 97%;
  padding: 0 1.5%;
  font-weight: 300;
  clear: both;
}
/* line 293, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact h4 {
  font-size: 16px;
  padding: 16px 0;
  margin: 0;
  text-align: center;
  width: 100%;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  background-color: rgba(7, 7, 7, 0.1);
}
/* line 304, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact span {
  color: #545454;
  position: relative;
}
/* line 307, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact span div {
  display: none;
}
/* line 311, ../sass/disable_general.scss */
.disabled-onepage-scroll .contact span:hover > div {
  display: none;
  height: 50px;
  width: 200px;
  background-color: white;
  border: 1px solid #545454;
  position: absolute;
}
/* line 322, ../sass/disable_general.scss */
.disabled-onepage-scroll .back {
  display: none;
}

/* line 327, ../sass/disable_general.scss */
.wrapper {
  height: 100% !important;
  /*查*/
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* line 348, ../sass/disable_general.scss */
body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
